<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smu.camping.mapper.file.FileInfoMapper">
    <insert id = "createFileInfos" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file(username, filePath) VALUES (#{username}, #{filePath})
    </insert>

    <select id = "getFileInfo" resultType="com.smu.camping.dto.file.FileInfoDto">
        select *
        FROM file
        WHERE id = #{fileId}
    </select>

    <select id = "getFileInfoByCampsiteId" resultType="com.smu.camping.dto.file.FileInfoDto">
        select *
        FROM file JOIN campsite_image ON file.id = campsite_image.image_id
        WHERE campsite_image.campsite_id = #{campsiteId}
    </select>
</mapper>