<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.smu.camping.mapper.campsite.CampsiteInfoMapper">
    <select id = "getCampsiteInfoByFilter" resultType="com.smu.camping.dto.campsite.CampsiteDto" parameterType="com.smu.camping.dto.campsite.SearchFilterDto">

    </select>

    <select id = "getCampsiteOrderByReviewNum">

    </select>

    <select id = "getCampsiteCntOfOwner">

    </select>

    <select id = "getCampsiteInfoByCampsiteId">
        SELECT *
        FROM campsite
        WHERE id = #{id}
    </select>

    <select id = "getCampsiteInfoByUserName">

    </select>

    <select id = "getAllCampsiteInfo">
        SELECT * FROM campsite
    </select>

    <select id = "updateCampsiteInfo">

    </select>

    <insert id = "createCampsiteInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO campsite(id, owner, address, name, contact, introduction) VALUES(#{id}, #{owner}, #{name}, #{address}, #{contact}, #{introduction})
    </insert>
</mapper>