<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.smu.camping.mapper.campsite.RoomMapper">
    <insert id = "createRoom" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO room(id, campsite_id, name, price, room_nums, maxHeadCnt, baseNumCars, baseHeadCnt)
        VALUES (#{id}, #{campsiteId}, #{name}, #{price}, #{roomNums}, #{maxHeadCnt}, #{baseNumCars}, #{baseHeadCnt})
    </insert>

    <select id="getCheapestRoomByCampsiteId" resultType="java.lang.Integer">
        SELECT min(price)
        FROM room
        WHERE campsite_id = #{campsiteId}
    </select>

    <select id = "getRoomByCampsiteId" resultType="com.smu.camping.dto.campsite.RoomDto">
        SELECT *
        FROM room
        WHERE campsite_id = #{campsiteId}
    </select>

    <select id = "getRoom" resultType="com.smu.camping.dto.campsite.RoomDto">
        SELECT *
        FROM room
        WHERE id = #{roomId}
    </select>
</mapper>