<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.smu.camping.mapper.campsite.TouristMapper">
    <insert id = "createTourist" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tourist_info(id, campsite_id, name, `desc`, address) VALUES (#{id}, #{campsiteId}, #{name}, #{desc}, #{address})
    </insert>

    <select id = "getTouristByCampsiteId" resultType="com.smu.camping.dto.campsite.TouristDto">
        SELECT *
        FROM tourist_info
        WHERE campsite_id = #{campsiteId}
    </select>
</mapper>