<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smu.camping.mapper.campsite.imageInfoMapper.RoomImageInfoMapper">

    <insert id = "createImageInfo">
        INSERT INTO room_image(room_id, image_id) VALUES (#{id}, #{imageId})
    </insert>
</mapper>